*.pem
*.key
*.pub
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfvars
*.tfvars
vprofile-key